.error-body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.title {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.para {
    font-size: .8em;
    line-height: 5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.para span{
    color: rgba(82, 83, 83, 0.614)
}

.error-code {
    margin-top: 50px;
    text-align: left;
    color: red;
}

