.footer-wrapper {
    height: 250px;
}

.footer-section-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-wrapper img {
    width: 75px;
    margin-top: 30px;
    margin-bottom: 10px;
}