.background-wrapper {
    background-image: url(/images/background.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;

}

.text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}

.text-wrapper h4, .text-wrapper h5 {
    padding-left: 20px;
    padding-right: 120px;
    align-self: flex-end;
}

.text-wrapper h4 {
    font-size: 4rem;
    color: rgb(223, 223, 223);
}

.text-wrapper h5 {
    margin-top: -70px;
    font-size: 1.2em;
    color: rgb(26, 26, 26);
}

/* Floating section of the points */

.floating-objects-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.point{
    display:flex ;
    justify-content: center;
    height: 100px;
    width: 500px;
    color: black;
    font-weight: 300px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    text-align: center;
    word-wrap: normal;
    box-shadow: 0px 1px 10px 1px rgb(1,1,1);
}

.point h6 {
    font-size: 18px;
    margin-top: 0px;
}

@media (max-width: 1700px) {
    .point h6 {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .point h6 {
        font-size: 12px;
    }
}

.main-point {
    align-self: flex-start;
    margin-top: 80px;
    background-color:rgb(179, 179, 179);
    box-shadow: 0px 1px 20px 5px rgb(1,1,1);

}

.point1 {
    align-self: flex-end;
    margin-bottom: 200px;
}

.point2 {
    align-self: center;
    margin-bottom: 50px;
}
.point3 {
    align-self: flex-end;
    margin-bottom: 100px;
}




/* Fancy Buttons lets goo */

.fancy-links-wrapper {
    height: 1000px;
    display: flex;
    justify-content: center;
    background-image: url(/images/fancybuttons.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center ;
}

.blinks-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20vw;
}

.blink {
    background-color: rgba(214, 206, 163, 0.836);
    height: 300px;
    width: 200px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    align-items: center;
    box-shadow: 0px 1px 10px 1px rgb(1,1,1);
}

.blink a {
    display: flex;
    text-decoration: none;
    color: white;
    height: fit-content;
    width: fit-content;
    font-size: 35px;
}

.blink a:hover {
    transition: .3s;
    color: black;
    letter-spacing: 1px;
}