.PAGE-BODY {
    background: #EEE5E5 !important;
    position: relative;
    z-index: -3;
}


.skew-box {
    background: #EEE5E5;
    color: #040403;
    height: 500px;
    padding: 100px;
    transform: skew(0deg, -10deg);
    position: relative;
    z-index: -1;
    /* transform-origin: top right; */
}

.skew-box-sequence {
    background: #040403;
    color: #EEE5E5;
    height: 700px;
    padding: 100px;
    transform: skew(0deg, -10deg) translateY(-120px);
    transform-origin: top right;
    position: relative;
    z-index: -1;

}

.paragraph-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 150px 200px;
    transform: skew(0deg, 10deg);
}

.paragraph-container h1 {
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.paragraph-container li {
    font-size: 1.5em;
}
/* @media (max-width: 1450px){
    .list {
        margin-top: -150px;
    }

    .list li {
        font-size: 1.5rem;
    }
} */

/* @media (max-width: 2000px) {
    .paragraph-container li {
        font-size: 1.3rem;
    }
    .paragraph-container h1 {
        font-size: 1.3rem;
    }
} */

/* @media (max-width: 1200px) {
    .paragraph-container h1 {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .paragraph-container ul {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .list {
        margin-top: -200px;
    }

    .list li {
        font-size: .95rem;
        font-weight: 800;
    }

    .paragraph-container {
        width: 70%;
        padding-left: 0;
    }

    .skew-box {
        height: 750px;
    }

    .skew-box-sequence {
        height: 750px;
    }

    .fill {
        background: #040403;
    }
} */


/* background re-color */

#black-filler {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2800px;
    width: 100%;
    height: 25%;
    background-color: #040403;
    z-index: -2;
}

.gold {
    background: #EEE5E5;
    position: relative;
    z-index: 1;
}



/* @media section */

@media (max-width: 1500px) {
    
    .skew-box {
        height: 1000px;
        margin-left: -250px;
    
    }

    .skew-box-sequence {
        height: 1000px;
        margin-left: -250px;
    
    }

    .fill {
        background: #040403;
    }
    
    .list {
        width: 500px;
    }

    .paragraph-container {
        width: 500px;
    }

    #black-filler {
        /* display: none; */
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 4200px;
        width: 100%;
        height: 25%;
        background-color: #040403;
        z-index: -2;
    }

}

@media (max-width: 600px) {
    .paragraph-container {
        width: 400px;
    }
}