.nav-container {
    width: 100%;
    height: 100px;
    background-color: #19171a;
}

.nav-sections-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.l-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 50px;
}

.r-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* outline: solid 1px blue; */
    height: 100px;
    align-items: center;
}

.nav-button {
    transition: 1s;
    display: flex;
    justify-self: center;
    align-items: center;
    /* outline: solid 1px black; */
    height: auto;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.nav-button:hover {
    transition: 0.3s;
    color: goldenrod;
    letter-spacing: 1px;
}



.l-section img {
    width: 50px;
    height: 40px;
    position: absolute;
    /* border: 1px solid white; */
}

.l-section h2 {
    margin-top: 20px;
    margin-left: 35px;
}