.body {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: -8px;
    margin-right: -8px;    
    background-image: url(/images/backgrounds/background.jpg);
    text-align: left;
    font-family: Verdana;

}

/* LEFT SIDE */
.leftColumnBody {
    width: 50%;
    margin-left: 150px;
    margin-top: 80px;
}

.paragraphWrapper {
    font-family: "verdana";
    font-size: 1.35rem;
    font-weight: 0 !important;
}

.topParagraph {
    margin-bottom: 20px;
}

.topParagraph span {
    font-weight: 900;    
}

.bottomParagraph {
    margin-bottom: 50px;
}

.buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 550px;
}

.buttonsWrapper button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.buttonsWrapper > .leftButton button {
    background: rgb(73, 185, 73);
}

.buttonsWrapper > .rightButton button {
    background: black;
    color: white;
}

/* RIGHT SIDE */
.rightColumnBody {
    width: 50%;
}
.rightWrapper {
    margin-top: 60px;
    font-weight: 300;
}

.rightWrapper img {
    width: 100%;
    height: 420px;
}

.rightWrapper span {
    color: lightseagreen;
}