.spacer5 {
    height: 5px;
    width: 100%;
}

.spacer10 {
    height: 10px;
    width: 100%;
}

.spacer25 {
    height: 25px;
    width: 100%;
}

.spacer50 {
    height: 50px;
    width: 100%;
}

.spacer75 {
    height: 75px;
    width: 100%;
}

.spacer100 {
    height: 100px;
    width: 100%;
}