/* Coolors Exported Palette - coolors.co/06070e-29524a-40434e-4a4e69-ffffff */

/* HSL */
$color1: hsla(233%, 40%, 4%, 1);
$color2: hsla(168%, 33%, 24%, 1);
$color3: hsla(227%, 10%, 28%, 1);
$color4: hsla(232%, 17%, 35%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(6, 7, 14, 1);
$color2: rgba(41, 82, 74, 1);
$color3: rgba(64, 67, 78, 1);
$color4: rgba(74, 78, 105, 1);
$color5: rgba(255, 255, 255, 1);