/* Side bar scroller  -------------------------- */

.carousel-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: auto;
    margin-top: 1vw;
    overflow: hidden;
    border: 5px solid black;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.69);
}

.carousel-slide {
    display: flex;
    width: 50vw;
    height: 30vw;
}

.carousel-slide > img {
    width: 50vw;
}

.arrow-wrapper {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    height: 30vw;
    /* outline: solid black 2px; */
    align-items: center;
}

.arrow-wrapper > i {
    z-index: 1;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.767);
}

#prev-button {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

#next-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
