.nav-bar-wrapper {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100px;
    font-family: 'Cabin', sans-serif;
}

.nav-links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.nav-links-wrapper > .link {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 75%;
}
.nav-links-wrapper > .link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.nav-links-wrapper > .link a:hover {
    transition: .3s;
    color:  rgba(255, 196, 61, 1);
}

.logo-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-wrapper img {
    width: 98px;
    margin-left: 1px;
}