.nav-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(128, 128, 128, 0.449); */
    font-family: Arial, Helvetica, sans-serif;
}

.sections-wrapper {
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    height: 78px;
    width: 90%;
    border-radius: 50px;
    border: solid 2px rgba(236, 175, 44, 0.692);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.69);
}

/* right section */

.right-section-wrapper {
    /* background-color: red; */
    height: 50px;
    justify-content: right;
    width: 95%;
}

.nav-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* outline: solid 2px white; */
}

.nav-button {
    transition: 1s;
    /* outline: solid 2px purple; */
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    color: white;
    height: fit-content;
    width: fit-content;
    font-size: 1.2em;
    text-decoration: none;
}

.nav-button:hover {
    transition: 0.3s;
    color: goldenrod;
    letter-spacing: 1px;
}

/* left section wrapper */

.left-section-wrapper   {
    /* border-radius: 20px; */
    /* background-color: blue; */
    justify-content: left;
}

.title-wrapper {
    display: flex;
    justify-content: left;
}

.title {
    /* outline: solid  2px black; */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /* background-color: white; */
    height: 75px;
    width: 30%;
}

#icon {
    transition: 0.3s;
    position: absolute;
    width: 75px;
    background-color: transparent;
    /* margin-top: px; */
    margin-left: 20px;
}
 #icon:hover {
    /* border-radius: white solid 2px; */
    cursor: pointer;
 }