body {
    font-family: 'Montserrat', sans-serif;
    background-color: #298489;
    color: white;
}

.common {
    display: flex;
    justify-content: center;
}


.intro {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    color: #07C0C9;
    background-color: black;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 99%;
    background-color:#236467;
    border-radius: 15px;
    
}

.menu-parts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    height: 30px;
    grid-gap: 20px;
    margin-top: 20px;
}

.menu-option {
    align-items: center;
    background-color: #1A4345;
    height: 50px;
    border: none;
    outline: none;
}

.menu-spacer {
    height: 70px;
}

/*  BUTTON  */

.stage-button-wrapper {
    display: none;
    justify-content: center;
    margin-top: 20px;
}
#first-stage {
    outline: none;
    border-color: #1A4345;
    border-radius: 1000px;
}

button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    background-color: #298489;
}

button:hover {
    transition: .3s;
    background-color: rgb(19, 51, 53);
}


/* Selection Sections */

.steak-selection {
    display: none;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.salmon-selection {
    display: none;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.burger-selection {
    display: none;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}



.modification-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    height: 30px;
    grid-gap: 20px;
    margin-top: 20px;
}

.mod-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.additive {
    display: flex;
    justify-content: center;
}

.title {
    height: 50px;
}

/* Total counter */

.total-counter {
    display: flex;
    justify-content: left;
    margin-top: 200px;
    margin-left: 12px;
    font-size: 2em;
}

/* order button wrapper */
.order-button-wrapper {
    display: none;
    justify-content: left;
}

#order-button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    background-color: #298489;
    border: #1A4345 solid;
    border-radius: 1000px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    outline: none;
}

#order-button:hover {
    transition: .3s;
    background-color: rgb(19, 51, 53);
}