.bottomNavBar {
    width: 100%;
    height:60px;
    display: flex;
    justify-content: left;
}

.bButton {
    width: 25%;
}

.bottomNavBar > .bButton button {
    background: rgba(39, 39, 39, 0.884);
    color: white;
    outline: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-width: 1px;
    border-color: rgba(194, 191, 191, 0.719);
    font-family: sans-serif;
    font-size: 1.25rem;
}

.bButton span {
    font-weight: 800;
    font-size: 1.35rem;
}


