.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.navbar-sections-wrapper {
    display: flex;
    width: 80%;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    

}