/* Universal (Local) */
.tile-wrapper {
    font-family: 'Work Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: black;
    height: 1000px;
    box-shadow: 0px 0px 40px 10px;
}

.intro-between {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top:20px;
}

.intro-content {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(6, 7, 14, 1);;
    width: 99%;
    height: 98%;
}

/* Top Message */
.welcome-message {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.welcome-message h1 {
    font-size: 5rem;
    color: rgba(6, 7, 14, 1);;
}

/* Left Column */
.message-board-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.message-board-wrapper > .welcome-para {
    width: 100%;
    margin-left: 20px;
    font-size: 2rem;
    line-height: 150%;
}